ul {
    width: 100%;
}

.home_button_shift {
    background-color: blue;
    color: white;
    width: 99%;
    margin: 5px;
    box-sizing: border-box;
   
}


li{
    padding-left: 3rem;
    list-style-type: none;
    position: relative;
}

